---
---

//
// IMPORTS
//

@import "_variables";
@import "_animation";

html {
  font-size: 100%;
}

.screenshots {
  width: 504px;
  height: 386px;
  margin: auto;

  button {
    margin-top: 20px;
    height: 262px;
    opacity: 0.2;
    @include transition('opacity 0.3s');

    &:hover {
      opacity: 0.8;
    }

    &.prev,
    &:first-child {
      margin-left: 20px;
    }

    &.next,
    &:last-child {
      margin-right: 20px;
    }
  }

  .images {
    width: 464px;
    height: 386px;
    margin: 20px;

    > a {
      width: 464px;
      height: 262px;
    }
  }
}

nav { 
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;


  width: 300px;

  .avatar {
    width: 160px;
    border-radius: 50%;
    margin: 20px 70px;
  }

  p {
    margin-left: 4*$unit;
    margin-right: 4*$unit;
    font-size: $text-sm;
    text-align: justify;
    margin-bottom: 4*$unit;
  }

  ul {
    width: 100%;
    padding-right: $unit;
   
    li {
      font-size: $text-xl;
      text-align: right;
    }

    li.active:hover, li:hover {
      color: $bg-1-alt-text;
      background: $bg-1-alt;
    }

  }
}

main {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 300px;

  .posts {
    position: absolute;
    height:100%;
    width: 100%;

    .post:hover {
      background: $bg-1;
      color: $bg-1-text;
    }
  }

  article {

    header {
      font-size: $text-xxl;
    }

    time {
      font-size: $text-xl;
    }
  }
}

section.modal {
  top: 0;
  right: 0;
  bottom: 0;
  left: 300px;

  > div {
    width: 450px;
  }
}


// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "_highlights";