---
---

//
// IMPORTS
//

@import "_variables";

.hide-mobile {
  display: none;
}

html {
  font-size: 90%;
}

body {
  z-index: -1;
}

.screenshots {
  width: 100%;

  button {
    height: 67.2%;
    margin-top: 3.8%;
    opacity: 0.5;
      
    &.prev,
    &:first-child {
      margin-left: 3.8%;
    }

    &.next,
    &:last-child {
      margin-right: 3.8%;
    }
  }

  .images {
    height: 67.2%;
    width: 92.4%;
    margin: 3.8%;

    > a {
      max-height: 100%;
      max-width: 100%;
    }
  }
}

nav {
  height: 78px;
  z-index: 1;
  border-bottom: 2px solid rgba(32,32,32,0.3);

  div {
    width: 320px;
    margin: 0 auto;
    
    .avatar {
      height: 78px;
      padding: $unit;
      border-radius: 50%;
      float: left;
    }

    h1 {
      margin: 0;
      padding: $unit 0 $unit/2;
    }

    ul {
      margin-left:78px;
      text-align: center;

      li {
        display: inline-block;
        font-size: $text-md;
      }
    }
  }
}

main {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100vw;
  padding-top: 78px + $unit;
  z-index:-1;

  article {

    header {
      font-size: $text-xl;
    }

    time {
      font-size: $text-md;
      margin-top: 6px;
    }
  }

  .posts {
    width: 100%; 

    .post {
      width: 100%;
    }
  }
}


section.modal {
  top: 0;
  bottom: 0;
  width: 100vw;
  padding-top: 78px + $unit;
  z-index: -1;

  > div {
    width: 272px;

    img { 
      width: 240px;
    }
  }
}