<nav>
  <div>
    <a href="/"><img class="avatar" src="{{ site.avatar }}" />
    <h1 class="text-center">{{ site.author }}</h1></a>
    <p class="hide-mobile">{{ site.description }}</p>
    <ul>
      <li id="subscription-button" class="subscribe">
        <span class="hide-mobile">Subscribe</span>
        <i class="fa fa-rss"></i>
      </li>
      <a href="/blog/"><li class="{% if page.category == 'blog' %}active{% endif %}">Blog</li></a>
      <a href="/portfolio/"><li class="{% if page.category == 'portfolio' %}active{% endif %}">Portfolio</li></a>

    </ul>
  </div>
</nav>