// unit
$unit: 8px;

// colors 
$bg-1: #740000;
$bg-1-text: #F1F5E0;
$bg-1-alt: #510808;
$bg-1-alt-text: #F1F5E0;
$bg-2: rgba(0,0,0,0.06);
$bg-2-text: #F1F5E0;
$bg-2-alt: #0A1A36;
$bg-2-alt-text: #F1F5E0;

// fonts
$font-stack: 'Raleway', Arial, Helvetica, sans-serif;
$text-xs: 0.8rem;
$text-sm: 0.9rem;
$text-md: 1.0rem;
$text-lg: 1.3rem;
$text-xl: 1.6rem;
$text-xxl: 2rem;